<div id="mainFooterAnchor">
 <div class="pied-de-page">
    <div class="footer-links">

     <a href="#"><i class="fab fa-instagram"></i></a>
     <a href="#"><i class="fab fa-facebook"></i></a>
     <a href="#"><i class="fab fa-twitter"></i></a>
     <a href="#"><i class="fab fa-youtube"></i></a>

   </div>
   <div><p>Copyright ©2021 </p></div>
  </div>
</div>
