
<div class="btnmap">
<%= link_to activity_path(activity.id) do %>
  <h2 class="map-user-name"><%= activity.user.nickname %></h2>
<% end %>
<p class="map-address-activity"><%= activity.address%></p>
</div>
<div style="color: red;"><i class="far fa-heart" ></i> <%= activity.likes.count%></div>
