<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.0)), url(https://www.lacollesurloup.fr/sites/default/files/styles/lc_visuels_top/public/visuel_top/xdechets.jpg,qitok=SeB9C-By.pagespeed.ic.ZkwrWltcPd.webp);">
  <div class="container-banner">
    <div>
      <% if user_signed_in? %>
        <h1>Bonjour <%=current_user.name%></h1>
      <% else %>
        <h1><strong>Bienvenue sur Moonflower</strong>!</h1>
      <% end %>
    </div>

    <div class="bouton-home-page-action">
      <%= link_to new_activity_path do %>
        <i class="fas fa-recycle"></i>
      <% end %>
      <p>S'aime ton action</p>
    </div>
  </div>
</div>

<div class="thecontent" style="margin-top: 45px">

<div class="carte-concept">
  <div class="carte-concept-contenu">
    <h2>Le concept</h2>
    <p>L'appli intéractive qui génère une force collective.</p>
  </div>
</div>

<div class="card-chiffres-home">
      <h3>10 000</h3>
      <p> moonflowers connectés</p>
      <h3>70</h3>
      <p> villes enregistrées</p>
      <h3>18 000</h3>
      <p> actions effectuées</p>
      <h3>7 000</h3>
      <p> bouteilles en plastique </p>
      <h3>2856</h3>
      <p> bouteilles en verre </p>
      <h3>3</h3>
      <p> shorts de bain récoltés </p>
      <h3>2400</h3>
      <p> heures de récolte</p>
</div>

  <%# <img src="https://thumbs.dreamstime.com/b/people-volunteers-clean-park-utilize-rubbish-sort-plastic-bottles-ecology-cooperation-concept-up-other-dirt-growing-plants-173898223.jpg" /> %>

  <%# <img src="https://image.freepik.com/free-vector/cleaning-city-service-illustration-cartoon-flat-worker-cleaner-people-uniform-working-with-equipment-clean-city-urban-street_169479-789.jpg" /> %>

  <%# <img src="https://media.istockphoto.com/vectors/illustration-of-a-group-of-volunteers-cleaning-the-park-vector-id1223049604?k=6&m=1223049604&s=612x612&w=0&h=3aGgtMba6CfI9e_6qAAodz0LHr7E3yqGFeJX9xpAqDM=" /> %>
<%# <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.0)), url(https://media.istockphoto.com/vectors/illustration-of-a-group-of-volunteers-cleaning-the-park-vector-id1223049604?k=6&m=1223049604&s=612x612&w=0&h=3aGgtMba6CfI9e_6qAAodz0LHr7E3yqGFeJX9xpAqDM=);"> %>
</div>
<%# Tous unis pour retrouver un environnement sain et transmettre aux générations une terre viable %>
    <%# <p>L'appli intéractive qui génère une force collective tout en rendant compte en temps réel des actes de chacun.</p> %>
