.wastes-card {
  background-color: rgba(87, 204, 153, 0.1);
  border-radius: 5px;
  box-shadow: 3px 4px 5px #57CC99;
}
.wastes-show {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  padding: 10px;
}

.uniq_wastes {
   margin-top: 7px;
   padding: 13px;
}



.number {
  background-color: #57CC99;
  border-radius: 5px;
  margin-top: 5px;
  text-align: center;
}

.total {
  text-align: center;
  margin-top: 20px;
  background-color: rgba(56, 163, 165, 0.6);
  border-radius: 5px;
  box-shadow: 3px 4px 5px rgb(87, 204, 153);
}

.like-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trash{
  background-color: rgba(87,204,153,0.2);
  padding: 6px;
  border-radius: 50%;
}

.btnje {
  text-align: center;
  margin-top: 10px;
  background-color: rgba(87,204,153,0.5);
  border-radius: 5px;
  padding: 10px;
}
