
// .banner img {
//    width: 100%;
//    background-position: center;
// }

.banner {
  height: 450px;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 45px;
  box-shadow: 3px 4px 5px #13915994;
  border-radius: 5px;

}

.banner h1 {
  margin: 0;
  margin-bottom: 30px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 38px;
  font-weight: bold;
  text-align: center;
}

.banner p {
  margin-bottom: 30px;
  font-size: 20px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.banner a {
  padding: 8px 24px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 15px;
  color: whitesmoke;
  // background-color: #38A3A5;
  text-decoration: none;
}

.fa-recycle {
  font-size: 2em;
  color: white;
  margin-bottom: 2px;
  margin-top: 5px;
}

.bouton-home-page-action {
  padding: 0px 7px;
  margin: 1px 80px;
  background-color: #4caf4fd5;
  border-radius: 5px;
  p {
    color: white;
    font-size: 13px;
    text-transform: uppercase;
  }
}
