
// .banner img {
//    width: 100%;
//    background-position: center;
// }

.banner {
  height: 450px;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.8);
  border-radius: 5px;

}

.banner h1 {
  margin: 0;
  margin-bottom: 30px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 45px;
  font-weight: bold;
  text-align: center;
}

.banner p {
  margin: 0;
  margin-bottom: 30px;
  font-size: 20px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.banner a {
  color: red;
  background-color: white;
  text-decoration: none;
}

.search-bar {
  width: 1100px;
  height: 60px;
 margin:auto;
 background-color: white;
 display: flex;
 border-radius: 32px;
 padding: 15px;
}

.search-form {
  width: 200px;
  border-right: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-form p {
  color:black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-button {
  margin-left: -10px;
}
