/*  CARD HOME  */

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  margin-bottom: 15px;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-align: left;
}

.card-trip p {
  font-size: 12px;
  margin: 0;
  color:black;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
