/*  CARD HOME  */

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.7);
  margin-bottom: 45px;
  border-radius: 18px;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

.card-trip p {
  font-size: 12px;
  margin: 0;
  color:black;
  text-align: justify;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-chiffres-home {
  background-color: rgba(87, 204, 153, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 18px;

  p {
    text-transform: uppercase;
  }
}
