
.dash-content {
  padding: 12px;
}

.pic-dash {
  float: right;
  padding-right: 15px;
}

.card-trip-scroll {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  margin-bottom: 15px;
  height: 100%;
  height: 390px;
  overflow: scroll;
}

.actions-content {
  border-bottom: 1px solid #aaa;
  margin-bottom: 15px;
  margin-top: 10px;
  padding: 5px 0px;
  h2 {
    font-size: 24px !important;
    font-weight: 500 !important;
  }
}

.card-trip-scroll h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-align: left;
}
