.form-div {
  padding: 12px;
  h2 {
  padding-top: 16px;
  font-size: 26px;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  }
}

label {
    margin-right: 8px;
    margin-top: 6px;
}

.btn-primary {
  border-color: white !important;
  background-color: rgba(255,255,255,1) !important;
}

.btn-primary:focus {
   color: none !important;
   background-color: none !important;
   border-color: none !important;
   box-shadow: white !important;
 }

.form-waste {
    margin-top: 12px;
}

.bottomtext {
    position: absolute;
    margin-top: 80px;
    color: black;
}

.bottomtext a {
    font-size: 16px;
    font-weight: normal;
    color: black;
}
