.form-div {
  padding: 12px;
}

label {
    margin-right: 8px;
    margin-top: 6px;
}

.btn-primary {
    border-color: white;
}

.form-waste {
    margin-top: 12px;
}

.btn-primary:hover {
    color: #fff;
    background-color: white;
    border-color: white;
}
