
.form-group {
  margin-bottom: 25px;
  width: 80%;
  padding: 8px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.form-container {
  width: 350px;
  margin: 0 auto;
  min-height: 67vh;
  height: 600px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  padding-top: 0;
  background-color: white;
}

h2 {
  padding-top: 16px;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.form-actions {
  width: 50%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
  border: 1px solid;
  text-decoration: none;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}


.tag-item {
  display: inline-block;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 0.7rem;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  background-color: #ECEAFF;
  color: #7E73FF;
  border: 1px solid #7E73FF;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}

.tag-selector:checked + label {
  background-color: #7E73FF;
  color: white;
}
