.like{
  display: flex;
  color: red;
  justify-content: center;
  font-size: 22px;
}
.heart:hover{
  text-decoration: none !important;
}
.like-count{
margin-left: 10px;
}

.fas{
  color: red;
}
.heartbound {
  //background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  //background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  //color:transparent;
  //-webkit-background-clip: text;
  //background-clip: text;
  animation: heartbeat 1.5s 0.1s;
}

@keyframes heartbeat
{
  0%
  {
    transform: scale( .6 );
  }
  20%
  {
    transform: scale( 1.75 );
  }
  40%
  {
    transform: scale( .8 );
  }
  60%
  {
    transform: scale( 1.75 );
  }
  80%
  {
    transform: scale( .6 );
  }
  100%
  {
    transform: scale( 1 );
  }
}
