.mapboxgl-popup {
  max-width: 200px;

}

.mapboxgl-popup-content {

  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.map-user-name {
  font-size: 13px;
  font-weight: bolder;
 }

.map-address-activity {
  font-size: 8px;
 }

#new_activity {
  visibility: hidden;
}

 .btnmap a {
   text-decoration: none;
 }

 .btnmap a:hover {
   color: green;
 }
