.mapboxgl-popup {
  max-width: 200px;

}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.map-user-name {
  font-size: 13px;
  font-weight: bolder;
  color: #4caf4fd5;
 }

.map-address-activity {
  font-size: 8px;
  font-weight: 500;
 }

.activity_latitude {
  visibility: hidden;
}

.activity_longitude {
  visibility: hidden;
}

 .btnmap a {
   text-decoration: none;
 }

 .btnmap a:hover {
   color: green;
 }
