.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon h3 {
  position: fixed;
  margin-left: 55px;
  margin-top: 7px;
  font-size: 1.55rem;

}

.navbar-accueil {
    font-size: 0.75rem !important;
    margin-bottom: 0.1rem !important;

}

.navbar-lewagon .nav#mainMenuBarAnchor {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 0 12px #888888;
  z-index: 1;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#mainMenuBarAnchor {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 0 12px #bebebe;
  z-index: 9;
}

.thecontent {
  margin-top: 88px;
  margin-bottom: 50px;
  margin-left: 18px;
  margin-right: 18px;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    text-align: center;
    list-style: inside;
}

.navbar-nav li {
    margin-right: 60px;
    margin-left: 5px;
    list-style: none;
}

.dropdown-menu.show {
    display: block;
    position: fixed;
    left: 0;
    top: 146px;
    width: 100%;
}

.navbar-collapse {
  margin: 10px 20px;
}
