
<div class="card-trip">
  <img src="https://madeinmarseille.net/actualites-marseille/2018/04/ramassage-dechet-operation-sensiboat.jpeg" />
  <div class="card-trip-infos">
    <div>
      <h2>Nettoyage plage des catalans</h2>
      <p>Samedi 4 septembre 2021 à 9h00</p>
    </div>
    <button type="button" class="btn-event" >PARTICIPER</button>
  </div>
</div>


<div class="card-trip">
  <img src="https://previews.123rf.com/images/dolgachov/dolgachov1708/dolgachov170801117/83942590-voluntarios-con-bolsas-de-basura-limpieza-de-%C3%A1rea-del-parque.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2>Nettoyage du parc Longchamps</h2>
      <p>Dimanche 19 septembre 2021 à 14h00</p>
    </div>
    <button type="button" class="btn-event" >PARTICIPER</button>
  </div>
</div>

<div class="card-trip">
  <img src="https://france3-regions.francetvinfo.fr/image/mSHKH1JPY1v0oZycT8S_X6zSKbA/600x400/regions/2020/06/09/5edf28ecd727d_maxnewsworldfour243456-2964721.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2>Nettoyage de nos rue, Marseille</h2>
      <p>Mercedri 13 octobre 2021 à 18h00</p>
    </div>
    <button type="button" class="btn-event" >PARTICIPER</button>
  </div>
</div>

<div class="card-trip">
  <img src="https://pbs.twimg.com/media/D9fdBulXkAAf0E3.png" />
  <div class="card-trip-infos">
    <div>
      <h2>Nettoyage fonds marin de la Corniche</h2>
      <p>Dimanche 31 octobre 2021 à 9h30</p>
    </div>
    <button type="button" class="btn-event" >PARTICIPER</button>
  </div>
</div>
